header {
    height: 100px;
    z-index: 1;
}

#logo-row {
    height: 30px;
    background-color: #000;
}

#logo-sony {
    height: 1rem;
}

.fa-bars {
    color: #666;
}


#burger-menu {
    max-width: 60px;
}

#btn-accedi {
    font-size: 1.2rem;
    background-color: #666;
    border-color: #666;
    color: #fff;
}

main {
    margin-top: 106px;
}

#jumbotron {
    background-image: url('../img/jumbo-bg.png');
    background-size: cover;
    background-position: center;
    height: 500px;
}

#btn-acquista {
    background-color: #cd3d0f;
    border-color: #cd3d0f;
    color: #fff;
}

#jumbo-layout {
    margin-top: 200px;
}

.img-rounded {
    border-radius: 20px;
}


#btn-info {
    background-color: #2d64e6;
    border-color: #2d64e6;
    color: #fff;
}


/* device control */


#ps5 #choose-device img {
    opacity: 0.5;
    cursor: pointer;
}

#ps5 #choose-device div:hover img {
    opacity: 1;

}

/* Jumbotron #2 */

#jumbotron-new-games {
    background-image: url('../img/it-takes-two-hero-banner-desktop.jpg');
    background-position: center;
    background-size: cover;
    height: 500px;
}

#jumbo-new-layout {
    margin-top: 1rem;
}

#shop-new-games {
    background-color: #1f1f1f;
}

/* PlayStation Plus */

#ps-plus {
    background-color: #bebcbb;
}

#btn-ps-plus {
    background-color: #d9dadc;
    border-color: #d9dadc;
}

#ps-plus-logo {
    height: 70px;
}

/* Play Now */
#play-now {
    background-color: #161c3b;
}

#ps-now-logo {
    height: 70px;
}

#btn-ps-now {
    background-color: #fff;
    border-color: #fff;
}